@tailwind base;
@tailwind components;
@tailwind utilities;


a{
    text-decoration: none;
    color: black;
}

.navbar{
    list-style-type: none;
}

.navbar > li{
    display: inline-block;
    padding: 5px;
    margin: 10px;
}